* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
    width: 1440px;
}

.header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 16px;
    width: 250px;
    gap: 24px;
    font-size: 13px;
}
.header-right {
    display: flex;
    margin-left: -103px;
}

.search-bar {
    position: relative;
    width: 200px;
    border-radius: 5px;
    border-color: white;
}
.search {
    height: 100%;
    width: 100%;
    padding-left: 26px;
    border-radius: 5px;
    border: 1px solid rgb(191, 188, 188)
}
.search::placeholder {
    color: #b3b3b3;
}
.search-icon{
    position: absolute;
    width: 15px;
    top: 10px;
    left: 10px;
}


.picHead {
    display: flex;
    height: 390px;
    width: 1440px;
    background-image: url(./Image/Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    padding-left: 130px;
    width: 580px;
    height: 120px;
    margin-top: 110px;
}

.content h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    line-height: 35px;
}

.products {
    display: flex;
    width: 1440px;
    margin-top: 64px;
    justify-content: center;
}
.products-left {
    gap: 10px;
    width: 1157px;
    justify-content: space-between;
}
.products-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ft-btn {
    display: flex;
    flex-direction: row;
    position: relative;
    background: white;
    color: #3c7968;
    font-size: 19px;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.divider::before {
    content: '';
    width: 1px;
    height: 30px;
    right: 0;
    top: 10px;
    background-color: #3c7968;
    position: absolute;
    display: block;
}
.ft-btn.ft-btn-active {
    background-color: #3c7968;
    color: white;
}

.sort {
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-left: 130;
    justify-content: center;
}
.sort-search{
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
}
.sort-bar{
    height: 100%;
    width: 100%;
    padding-left: 26px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(191, 188, 188)
}
.sort-by-btn {
    background: rgb(236, 234, 234);
    color: #696c6a;
    font-size: 18px;
    border-radius: 4px;
    width: 136px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-right: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.sort-by-btn img {
    width: 20px;
}