* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
    width: 1440px;
}

.header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 16px;
    width: 250px;
    gap: 24px;
    font-size: 13px;
}


.search-bar {
    position: relative;
    width: 200px;
    border-radius: 5px;
    border-color: white;
}
.search {
    height: 100%;
    width: 100%;
    padding-left: 26px;
    border-radius: 5px;
    border: 1px solid rgba(70, 151, 119, 0.6);
}
.search::placeholder {
    color: #b3b3b3;
}
.search-icon{
    position: absolute;
    width: 15px;
    top: 10px;
    left: 10px;
}

.header-right {
    display: flex;
    margin-left: -103px;
}

.picHead {
    display: flex;
    height: 390px;
    width: 1440px;
    background-image: url(./Image/Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    padding-left: 130px;
    width: 580px;
    height: 120px;
    margin-top: 110px;
}

.content h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    line-height: 35px;
}

.control-product {
    display: flex;
    height: 166px;
    width: 1440px;
}

.control-product-left {
    margin-top: 65px;
}
.products {
    display: flex;
    margin-top: 63px;
    width: 1440px;
    justify-content: space-between;
}
.products-left {
    width: 1160px;
    justify-content: space-between;
}
.products-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
}